.header {
  position: relative;
  padding: 15px 0;
  margin-bottom: 15px;

  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white-text);
  }

  h1 {
    font-size: 50px;
    grid-column-start: 6;
    grid-column-end: 11;
    text-align: center;
  }

  .icon-react {
    margin-left: auto;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    line-height: 0;

    svg {
      color: var(--white-text);
    }
  }

  .icon-stats {
    grid-column-start: 14;
  }

  .icon-help {
    width: 1px;
    margin-left: 0;
  }
}
