:root {
  --white-text: hsl(0, 0%, 85%);
  --black: hsl(0, 0%, 0%);
  --black-background: hsl(240, 3%, 7%);
  --grey-border: hsl(240, 2%, 23%);
  --grey-border-2: hsl(240, 3%, 36%);

  --yellow: hsl(49, 51%, 47%);
  --green: hsl(115, 29%, 43%);
}
